.wrapper {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }
    
    &.disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}

.icon + .title, .title + .icon{
    margin-left: 8px;
}

// button types

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}


.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        transition: all 0.2s ease-in-out;
    }
}

.outline {
    color: var(--primary-color);
    border-color: currentColor;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    font-size: 1.4rem;
    font-weight: 700;
    &:hover {
        text-decoration: underline 2px;
    }
}

// button sizes

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 148px;
}