@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,700&display=swap');

:root {
    // color UI
    --primary-color: #fe2c55;
    --header-color: #c7ecee;
    --text-color: #555;
    --check-color: #1B9CFC;
    --white-color: #fff;

    // default layout
    --header-height-layout: 60px;
    --default-layout-width: 1150px;
    --defaut-layout-width-slidebar: 356px;
    --default-layout-horizontal-spacer: 24px;

    // search size 
    --header-search-bar: 46px;
    --width-search-bar: 361px;
    // search btn size
    --header-search-btn-size: 52px;
}

// reset CSS styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// default styles tag
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
    background: rgb(124, 119, 119);
    border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    list-style: none;
}

body{
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^="bottom"] > .tippy-arrow::before{
        top: -8px;
    }
}