.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--header-height-layout); 
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    background-color: red;
}