.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--header-height-layout); 
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}



// Menu items
.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 16px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}